m23 21.1 supports Debian 11 and Linux Mint 20.2
<figure class="articleimg right" >
	<a href="gfx/Debian11-Desktops.png" target="_blank">
		<img class="shadow" src="gfx/Debian11-Desktops-mini.png" alt="Debian 11 desktops"/>
		<figcaption><nobr>Debian 11 desktops</nobr></figcaption>
	</a>
</figure>

<p>
	<i>
		m23 21.1 now supports the recently released <b><a href="https://en.wikipedia.org/wiki/Debian">Debian 11 Bullseye</a></b> to be used as client platform (including 6 preconfigured desktop environments) as well as<b>Linux Mint 20.2 Uma</b>, which comes with 3 preconfigured desktop environments. In addition to these quite obvious changes, many changes and improvements "under the hood" made it into the new version: e.g. the option to <b>connect a <a href="https://www.freeipa.org">FreeIPA server</a></b> to an m23 server, to make use of some FreeIPA functionality (e.g. user authentication, Kerberos, roles or user group comparison).
	</i>
</p>



<h3 style="display: inline;">Debian 11 Bullseye</h3>
<p>
	m23 clients with Debian 11 bring you <b>many updated software packages</b> and also the familiar range of installable <b>desktop environments</b>: <a href="https://en.wikipedia.org/wiki/MATE_(software)">Mate</a> (optionally as minimal variant with only the absolutely necessary packages), <a href="https://en.wikipedia.org/wiki/Cinnamon_(desktop_environment)">Cinnamon</a>, <a href="https://en.wikipedia.org/wiki/GNOME">Gnome</a>, <a href="https://en.wikipedia.org/wiki/KDE">KDE</a>, <a href="https://en.wikipedia.org/wiki/LXDE">LXDE</a> and <a href="https://en.wikipedia.org/wiki/Xfce">Xfce</a>. 64- and 32-bit clients can be installed, with the desktop selection being independent of the system architecture.
</p>



<h3 style="display: inline;">Linux Mint 20.2 Uma</h3>
<p>
	<a href="https://en.wikipedia.org/wiki/Linux_Mint">Linux Mint 20.2 Uma</a> has been added as a client distribution, which includes the <b></b>familiar range of functions</b> from the other distributions. It comes with three preconfigured <b>desktop environments</b>: <a href="https://en.wikipedia.org/wiki/MATE_(software)">Mate</a>, <a href="https://en.wikipedia.org/wiki/Cinnamon_(desktop_environment)">Cinnamon</a> and <a href="https://en.wikipedia.org/wiki/Xfce">Xfce</a>.
</p>



<h3 style="display: inline;">FreeIPA</h3>
<p>
	 In addition to the added support for the new distros, the most notable change is the option to use <a href="https://www.freeipa.org">FreeIPA</a> in conjunction with m23. A new dialog allows you to <b>setup your m23 server for connecting it to a FreeIPA server</b> werden.</br>
	 If FreeIPA is used for an m23 client, it will be connected to FreeIPA, allowing you to use some FreeIPA functions, including <b>user authentification, Kerberos, roles</b> or <b>comparison of user groups</b>). The m23 server can then also access the data stored on the FreeIPA server, in order to add entries for users, groups, devices (hosts) and <b>DNS configuration</b> and to read information from it, e.g. the IP addresses used in FreeIPA. On deletion of an m23 client, the corresponding entries will be removed from from the FreeIPA server.
</p>



<h3 style="display: inline;">Reuse of a customer project</h3>
<p>
	In the course of working on a <b>customer project</b> for a  <b>group of schools</b>, many customized functionalities emerged that are only used within the context of this project, or which have even been discarded and superseded by new ideas and decisions.</br>
	These functions are still available in the <b>m23 API</b> and?<b>thanks to the open source nature of m23</b>?can be used in future m23 versions. It is also possible to reuse them outside of a school context, e.g. in  <b>your enterprise</b> or <b>organization</b>).</br>
	Among those new options are the integration von <b><a href="https://www.fusiondirectory.org/en/">FusionDirectory</a></b>, the automated <b>creation of organizational structures in LDAP</b>, the usage of  <b>Kerberos</b> without FreeIPA or a  <b>client add wizard dialog</b>, where all the necessary information (e.g. user account, Linux kernel, distribution, desktop) can be entered on a single page. The m23 client would then use this information to do a <b>full installation</b> (with automated partioning and formatting) <b>without any further user interaction</b>.
</p>

<figure class="articleimg left" >
	<a href="gfx/LinuxMint202-Desktops.png" target="_blank">
		<img class="shadow" src="gfx/LinuxMint202-Desktops-mini.png" alt="Desktops of Linux Mint 20.2"/>
		<figcaption><nobr>Desktops of Linux Mint 20.2</nobr></figcaption>
	</a>
</figure>



<h3 style="display: inline;"><nobr>m23 autoTest</nobr></h3>
<p>
	<b><a href="https://goos-habermann.de/howto-10031-m23-autoTest">m23 autoTest</a></b>, the <b>framework for automated testing of m23 functions</b>, has been improved in many places (e.g. the <b>text recognition</b> that is used to check the screen content of virtual m23 test clients) and is now <b>compatible with VirtualBox 6.x</b>. During refactoring, compatibility code for the old VirtualBox versions 2 and 3 has been removed and the XML test case files have been adjusted accordingly.
</p>



<h3 style="display: inline;">Further changes and small updates</h3>
<p>
	<ul>
		<li>
			Support for a few <b>outdated distributions</b> (Ubuntu 16.04, LinuxMint 18 and 18.1, Ubuntu &lt; 14.04 and Debian 6.0) has been removed from the m23 code.
		</li>

		<li>
			The <b>CloudStack icon</b> has been hidden in the server settings dialog. The corresponding m23 functions are still there, so they could be used when reactivating the CloudStack integration.
 		</li>

		<li>
			m23 now uses the <b>DNS server of <a href="https://wiki.opennic.org/start">OpenNIC</a></b> as a preset in the m23 server installation ISO file, and also suggests to use it for m23 clients, when it cannot find any primary DNS server.
		</li>

		<li>
			<b>All users logged in on an m23 client</b> are now able to <b>shut down the machine</b> all members of the group <b>"m23sudo"</b> have permission to execute programs with <b>root privileges</b> via sudo.
		</li>

		<li>
			The Raspberry Pi SD card image now uses <b>Raspberry Pi OS as of May 7th, 2021</b>, making it compatible to the <b>Raspberry Pi 400</b>.
		</li>

		<li>
			 <b>PHP debugging can be activated</b> by running <code>/m23/bin/phpDebug</code>, so error messages and warnings will be displayed in your webbrowser.
		</li>
	</ul>
</p>



<h3 style="display: inline;">Bug fixes and code improvements</h3>
<p>
	Of course, a couple bug fixes needed to be made, too. The <b>cron job</b> that deletes old package source index files is now removed upon uninstalling the m23 package. Multiple <b>return values in m23 functions have been corrected</b> and missing dependencies were included.
</p>



<h3 style="display: inline;">m23 app for the Univention Corporate Server</h3>
<p>
	The m23 app for <a href="https://en.wikipedia.org/wiki/Univention_Corporate_Server">UCS 5.0</a> will be released shortly (or maybe already is released now that this news article is published). Support for UCS 4.4 has been dropped from the m23 version.
</p>

<h3 style="display: inline;">Downloads / Update</h3>
<p>
	The latest release is available as an update from the m23 interface, via apt (configuration as described in the <a href="?id=1000000175#deb">Installation Guide</a>), as an app for UCS, as ISO file for the creation of an m23 server installation medium, as a preinstalled virtual machine and as an image file for Raspberry Pi (the latter three can be found in the <a href="index.php?currentpath=home/Downloads">Download section</a>).
</p>

<!-- bis 2021-08-15 -->
