m23 18.2 fournit le support pour Ubuntu 18.04 LTS sur les clients
<figure class="articleimg left" >
	<img src="gfx/Ubuntu1804-budgie-gnome-kde-lxde-mate-ubuntu-xfce.png" alt="Environnements de bureaux disponibles pour Ubuntu 18.04" />
	<figcaption>Environnements de bureau<br>
	disponibles pour Ubuntu 18.04</figcaption>
</figure>
<p>
	<i>
		Avec <b><a href="https://fr.wikipedia.org/wiki/Ubuntu_%28syst%C3%A8me_d%27exploitation%29">Ubuntu 18.04 LTS "Bionic Beaver"</a></b>, nous sommes fiers d'avoir une distribution de plus &agrave; la liste de celles pouvant &ecirc;tre install&eacute;es par m23. Nous avons &eacute;galement inclus un certain nombre d'<b>environnements de bureaux</b> pr&eacute;-configur&eacute;s. Les utilisateurs d'Univention Corporate Server peuvent d&egrave;s apr&eacute;sent obtenir les <b>m23-App</b> pour UCS 4.3 depuis <b><a href="https://www.univention.de/produkte/univention-app-center/app-katalog/">Univention App Center</a></b>. Et bien sur, plusieurs am&eacute;liorations mineures ont &eacute;t&eacute; apport&eacute;es &agrave; m23 afin qu'il soit plus simple d'utilisation.
	</i>
</p>

<b><u>Ubuntu 18.04</u></b><br>
<p>
	A partir de cette version, m23 offre le support d'<b>Ubuntu 18.04 LTS</b> comme une distribution pour les clients, comprenant <b>toutes les fonctionnalit&eacute;s que vous utilisiez jusque l&agrave;</b> dans les autres distributions. Elle inclut un nombre incroyable de 7 <b>environnements de bureaux</b> pr&eacute;-configur&eacute;s : <a href="https://fr.wikipedia.org/wiki/MATE">Mate</a>, <a href="https://fr.wikipedia.org/wiki/GNOME">Gnome 3</a>, <a href="https://fr.wikipedia.org/wiki/LXDE">LXDE</a>, <a href="https://fr.wikipedia.org/wiki/Budgie_(logiciel)">Budgie</a>, <a href="https://fr.wikipedia.org/wiki/KDE">KDE</a>, <a href="https://fr.wikipedia.org/wiki/Xfce">Xfce</a> aussi bien que le bureau standand Ubuntu bas&eacute; sur Gnome. Les modifications de configuration faites par m23 pour le bureau standard Ubuntu sont limit&eacute;es &agrave; la suppression de <b>l'icone de shopping</b> et &agrave; la d&eacute;sactivation de <b>la fen&ecirc;tre de premi&egrave;re utilisation</b> de Gnome. m23 permet d'installer les variantes 64- et 32-bits, quelque soit l'environnement de bureau s&eacute;lectionn&eacute;.
</p>

<b><u>Virtualisation</u></b><br>
<p>
	La virtualisation int&eacute;gr&eacute;e bas&eacute;e sur <a href="https://fr.wikipedia.org/wiki/Oracle_VM_VirtualBox">VirtualBox</a> a b&eacute;n&eacute;fici&eacute;e de multiples am&eacute;liorations et a &eacute;t&eacute; significativement adapt&eacute;e. Les machines virtuelles (VMs) ayant &eacute;t&eacute; cr&eacute;&eacute;es par m23 peuvent maintenant &ecirc;tre &eacute;galement ex&eacute;cut&eacute;es sur un <b>hôte Ubuntu 18.04</b>. Une nouvelle option pour <b>l'architecture du CPU</b> est disponible &agrave; la cr&eacute;ation d'une nouvelle VM depuis l'interface m23, permettant de cr&eacute;er des syst&egrave;mes en 64 et 32 bits. L'interface m23 affiche maintenant les <b>identifiants</b> d'acc&egrave;s &agrave; la <b> console m23 de la VM</b>, ind&eacute;pendamment de l'&eacute;tat en cours de la VM. Un message vous pr&eacute;vient lorsque le logiciel de virtualisation a d&eacute;ja &eacute;t&eacute; param&eacute;tr&eacute; sur le client m23.
</p>


<b><u>m23 app pour UCS 4.3</u></b><br>
<p>
	A partir de cette version de m23, l'app m23 est disponible pour <a href="https://en.wikipedia.org/wiki/Univention_Corporate_Server">UCS 4.3</a>. Comparativement aux serveurs m23 fonctionnant nativement sur Debian (ou <a href="https://fr.wikipedia.org/wiki/Raspbian">Raspbian</a>), les <b>fonctionnalit&eacute;s</b> de m23 sur UCS sont toujours <b>quelque peut restreintes</b>, afin d'&eacute;viter les incompatibilit&eacute;s avec les services sp&eacute;cifiques &agrave; UCS. Cependant, la possibilit&eacute; de sauvegarder les r&eacute;pertoires 'home' des clients m23 sur un <b><a href="https://fr.wikipedia.org/wiki/Network_File_System">serveur NFS</a></b> centralis&eacute; a &eacute;t&eacute; <b>d&eacute;bloqu&eacute;</b>.
</p>


<b><u>Changements de l'interface</u></b><br>
<p>
	L'interface m23 a &eacute;t&eacute; quelque peu am&eacute;lior&eacute;e pour fournir aux administrateurs m23 des <b>annotations sur l'&eacute;tat courant</b> plus explicites concernant le syst&egrave;me m23 et pour optimiser le travail avec m23 de plusieurs mani&egrave;res.<br>

	Dans le dialogue de s&eacute;lection des <b>groupes</b> de clients et pour la <b>s&eacute;lection des paquets</b> qui devraient &ecirc;tre install&eacute;s, les &eacute;l&eacute;ments s&eacute;lectionnables pr&eacute;sentent <b>une checkbox</b> (coch&eacute;e ou d&eacute;coch&eacute;e).

	Dans la vue d'ensemble du client, <i>"R&eacute;p&eacute;ter les t&acirc;ches"</i> est disponible sous forme d'une <b>option de r&eacute;cup&eacute;ration additionnelle</b>, et permet &eacute;galement la r&eacute;installation d'un plus grand nombre de clients en m&ecirc;me temps.

	Lors de la cr&eacute;ation d'un client, l'<b>adresse MAC</b> peut maintenant comprendre des <b>double points (:)</b>, pour faciliter le copier-coller depuis d'autres programmes logiciels. Les double points seront supprim&eacute;s par JavaScript et &eacute;galement lors de la sauvegarde sur le serveur m23.

	Dans le <b>centre de controle</b>, une nouvelle <b>icone pour param&eacute;trer</b> le client a &eacute;t&eacute; ajout&eacute;e.

	Le dialogue d'installation des paquets a &eacute;t&eacute; &eacute;tendu par une <b>annotation de mise &agrave; jour de l'index du paquet</b>, qui sera affich&eacute; lorsque la recherche ne retourne aucun r&eacute;sultat. Le dialogue de recherche affiche <b>un texte d'information</b>, lorsque le terme recherch&eacute; contient des <b>caract&egrave;res invalides</b>. Additionellement, <b>des animations d'attente</b> sont maintenant affich&eacute;es pendant la recherche et la mise &agrave; jour de la liste des noyaux (kernels).
</p>

<b><u>Autres am&eacute;liorations</u></b><br>
<p>
	Lors d'un formatage <b>ext4</b>, l'option <i>"metadata_csum"</i> est maintenant d&eacute;sactiv&eacute;e, car elle faisait &eacute;chouer la v&eacute;rification sur <b>les versions anciennes de fsck</b>.

	Le serveur m23 <b>purge reguli&egrave;rement</b> le cache <b>des listes des paquets apt</b>, utilis&eacute; pour la recherche des paquets du client m23 correspondant. Cela permet d'&eacute;viter le remplissage de l'espace sur les petits disques, lorsqu'un nombre important de clients m23 est g&eacute;r&eacute;.

	Si un mat&eacute;riel dont la <b>date de son BIOS est tr&egrave;s diff&eacute;rente de celle du serveur</b> (par exemple dans le cas d'une batterie CMOS vide) est utilis&eacute; comme client m23, cela peut &ecirc;tre la source de <b>soucis avec le certificat SSL</b>. Au d&eacute;but de l'installation, le client m23 acqui&egrave;re l'horodatage courant provenant du serveur m23 et l'ajuste en cons&eacute;quence s'il constate une diff&eacute;rence importante.

	m23 <b>d&eacute;sactive</b> le <b>apt-daily.timer systemd</b>, pouvant interf&eacute;rer avec les t&acirc;ches d'installations m23.

	L'<b>installation de base</b> a &eacute;t&eacute; etendue par les paquets <i>"command-not-found"</i> et <i>"bash-completion"</i>, permettant une utilisation de l'interpr&ecirc;teur de commande plus confortable.

	<b>Les recherches de paquets lentes</b>, sp&eacute;cialement avec les connexions internet bas d&eacute;bit, sont maintenant un peu acc&eacute;l&eacute;r&eacute;es. Du &agrave; un bug, l'<b>index du paquet &eacute;tait t&eacute;l&eacute;charg&eacute; pour chaque nouvelle recherche</b>. D&egrave;s apr&eacute;sent, une fois t&eacute;l&eacute;charg&eacute;, l'index du paquet sera utilis&eacute; jusqu'&agrave; son obsolescence ou si une demande manuelle de mise &agrave; jour est demand&eacute;e.

	Lors de la mise &agrave; jour de l'index du paquet dans l'<b>architecte des paquets</b>, il n'&eacute;tait pas totalement certain que la version la plus &agrave; jour d'un paquet Debian soit obtenue. La nouvelle m&eacute;thode de classement peut maintenant prendre en compte des noms de paquets inhabituels et r&eacute;ellement <b>supprimer les paquets moins r&eacute;cents</b>.
</p>

<h3>T&eacute;l&eacute;chargements / Mise &agrave; jour</h3>
<p>La derni&egrave;re version est disponible sous forme d'une mise &agrave; jour depuis l'interface m23, via apt (Note: <b>le serveur source des paquets</b> pour les paquets sp&eacute;cifiques m23 est maintenant "<b>deb http://m23inst.goos-habermann.de ./</b>". Le param&eacute;trage est d&eacute;crit dans le <a href="?id=1000000175#deb">guide d'installation</a>), sous forme d'une image ISO pour cr&eacute;er un m&eacute;dia d'installation pour le serveur m23, sous forme d'une machine virtuelle pr&eacute;-install&eacute;e ou sous forme d'un fichier image pour RaspberryPi (la version 3 est t&eacute;l&eacute;chargeable dans la <a href="index.php?currentpath=home/Downloads">Section t&eacute;l&eacute;chargement</a>).</p>

<!-- bis 2018-04-21 -->
