m23 20.1 supports Ubuntu 20.04 and Linux Mint 20
<p>
	<i>
		After a long time in development, including various projects for customers, we are releasing m23 20.1, which brings <b>a lot of changes and additions</b>. Support for <a href="https://en.wikipedia.org/wiki/Ubuntu_version_history#2004">Ubuntu 20.04 LTS "Focal Fossa"</a> and Ubuntu-based <a href="https://en.wikipedia.org/wiki/Linux_Mint">Linux Mint 20 "Ulyana"</a> for use as client distributions has been added. The update includes the usual <b>preconfigured desktop environments</b>. It comes with extended monitoring features and hardware support, and, as usual, also contains a range of smaller adjustments and improvements.
	</i>
</p>

<figure class="articleimg right" >
	<a href="gfx/Ubuntu2004-Desktops.png" target="_blank">
		<img class="shadow" src="gfx/Ubuntu2004-Desktops-mini.png" alt="Ubuntu 20.04 desktops"/>
		<figcaption><nobr>Desktops von Ubuntu 20.04</nobr></figcaption>
	</a>
</figure>


<h3 style="display: inline;">Ubuntu 20.04 LTS "Focal Fossa"</h3>
<p>
	From this version on, m23 supports <b>Ubuntu 20.04 LTS</b> as a distribution for installation on the clients, including the <b>usual feature range</b>. It contains 6 preconfigured <b>desktop environments</b>: <a href="https://en.wikipedia.org/wiki/MATE_(software)">Mate</a>, Ubuntu desktop (based upon <a href="https://en.wikipedia.org/wiki/GNOME#GNOME_3">Gnome 3</a>), <a href="https://en.wikipedia.org/wiki/LXDE">LXDE</a>, <a href="https://en.wikipedia.org/wiki/Budgie_(desktop_environment)">Budgie</a>, <a href="https://en.wikipedia.org/wiki/KDE_Plasma_5">KDE</a> and <a href="https://en.wikipedia.org/wiki/Xfce">Xfce</a>. m23 makes some small changes to Ubuntu, like the removal of <b><a href="https://en.wikipedia.org/wiki/Snap_(package_manager)">snapd</a></b>. Clients with Ubuntu 20.04 can only be installed with 64 bit architecture, as <a href="https://en.wikipedia.org/wiki/Canonical_(company)">Canonical</a> has deprecated its support for 32 bit versions.
</p>


<h3 style="display: inline;">Monitoring and configurable m23 interface</h3>
<p>
	During a customer project, m23 gained a lot of new monitoring and interface options, which can be <b>enabled / disabled</b> and configured in the <b>server configuration options</b> in the m23 web interface:

	<ul>
		<li>
			In the <b>client overview</b>, there are three different states now for the<b>online status</b>: <i>"Computer switched off"</i>, <i>"System is running: No SSH and HTTPS connection"</i> and <i>"System is running: SSH and HTTPS commmunication active"</i>.
		</li>

		<li>
			In addition to this, the date and time of the last <b>update</b>, as well as information about <b>delayed reboots and jobs</b> can be included in the list.
		</li>

		<li>
			<b>Monitoring information</b> about m23 clients is periodically added to the <b><i>"clientreporting"</i></b> database table, while outdated entries will be removed again. The information includes the name of the m23 client, the number of packages installed on the client, its online-, update- and reboot status as well as the date and time of the last successful update.
		</li>

		<li>
			A <b>duration</b> can be indicated for each <b>client job</b>.
		</li>

		<li>
			In the menu's <b>status area</b>, in addition to clients with a critical status, clients that have <b>failed to reboot within a specified time</b> or that <b>have failed to execute a job with a specified time</b> will be displayed (if any). This information now also includes the group these clients are in.
		</li>
</p>


<h3 style="display: inline;">Group settings</h3>
<p>
	This m23 version introduces <b>group-scoped settings</b>. The group settings fill the gap between the global settings and those specific for each client. Currently, they can be used to <b>automatically reboot</b> clients in the group, when a freshly installed or updated package is requesting a reboot.
</p>


<h3 style="display: inline;">Network configuration</h3>
<p>
	When installing the m23 server using the ISO or the Debian packages, the  <b>network settings</b> (IP address, gateway, DNS server, etc.) <b>are being checked</b>. If these are found to be invalid, a dialog requires you to enter correct values. This does not change the actual network configuration, but only changes how the m23 server sees its own network settings and which settings it relays to the m23 clients. These settings can  <b>be changed at runtime</b>. This makes it possible to run an m23 server within a network that is different from the one the m23 clients are in, and to let its clients know its <b><a href="https://en.wikipedia.org/wiki/Domain_name">FQDN</a></b> mitzuteilen. The <b>SSL certificate</b> which serves to encrypt communication between the browser and the m23 server, as well as between the server and the m23 clients, may now include the FQDN (plus an additional IP address, if desired).
</p>

<figure class="articleimg left" >
	<img class="shadow" src="gfx/m23-20.1-SearchFilter-de.png" alt="Suchfilter"/>
	<figcaption><nobr>Search filtering</nobr></figcaption>
</figure>

<h3 style="display: inline;">Filter-based search</h3>
<p>
	The new filter-based search in the <b>clients overview</b> allows you to specify properties (e.g. client name, ip address, time of last change) and conditions (e.g. client ID greater than 1000). When the filter is applied, the overview will only display clients that match the criteria. <b>Multiple filter rules</b> can be defined and the clients' <b>sort order</b> can be specified.
</p>

<h3 style="display: inline;">Hardware support</h3>
<p>
	 The <b>Linux kernel version</b> used for the client (network) boot media and the server installation ISO has been <b>updated to 5.4.34</b> and is configured to allow the (virtual) graphic cards of VirtualBox, Proxmox, and of some hardware, where this did not work previously, to show status information about the installation progress in UEFI mode. Display of the graphical kernel logo was disabled, because this could lead to errors displaying the terminal in frame buffer mode. Some more kernel modules have been enabled to <b>extend hardware support</b> during installation.
</p>

<figure class="articleimg right" >
	<a href="gfx/LinuxMint20-Desktops.png" target="_blank">
		<img class="shadow" src="gfx/LinuxMint20-Desktops-mini.png" alt="Desktops von Linux Mint 20"/>
		<figcaption><nobr>Linux Mint 20 desktops</nobr></figcaption>
	</a>
</figure>

<h3 style="display: inline;">Linux Mint 20 "Ulyana"</h3>
<p>
	m23 now supports <a href="https://en.wikipedia.org/wiki/Linux_Mint">Linux Mint 20 "Ulyana"</a> for installation on clients, too, with <b>all the usual features</b>. This includes <b>3 preconfigured desktop environments</b>: <a href="https://en.wikipedia.org/wiki/MATE_(software)">Mate</a>, <a href="https://en.wikipedia.org/wiki/Cinnamon_(desktop_environment)">Cinnamon</a> and <a href="https://en.wikipedia.org/wiki/Xfce">Xfce</a>. Just like for Ubuntu 20.04, the only supported system architecture is 64 bit.
</p>

<h3 style="display: inline;">More changes and small improvements</h3>
<p>
	<ul>
		<li>
			The <b>proxy Squid</b>, which for many years served as a Debian package cache on the m23 server, was replaced by <b><a href="https://www.unix-ag.uni-kl.de/~bloch/acng/">APT-Cacher NG</a></b>. APT-Cacher NG has already been in use in the m23 UCS app, and is now employed on all m23 server platforms. On updating the m23 server, Squid will be deactivated, and APT-Cacher NG will be installed and configured to cache the packages.
		</li>

		<li>
			The package sources list for <b>Debian 8</b> Jessie has been <b>removed</b>. From this m23 version on, m23 can no longer install clients with Debian 8.
		</li>

		<li>
			Upon entering <i>"m23quit"</i> in one of the dialog windows in the  <b>m23 server installation program</b>, the window will be left for a <b>root terminal</b>.
		</li>

		<li>
			Some key words that served to <b>determine the client status</b> using  <a href="https://en.wikipedia.org/wiki/Optical_character_recognition">optical character recognition</a> when installing m23 with <b>m23-autoTest</b>, had to be adjuste to the changed (UEFI) text mode resolutions to work reliably.
		</li>

		<li>
			In the recovery dialog, the <b>client's name will be shown in the heading</b>.
		</li>

		<li>
			The MDK (m23 development kit) now uses <b>all available CPUs</b> for  <b>compiling the Linux kernel</b>.
		</li>

		<li>
			<b>haveged</b>, which is used to fill up the pool of pseudo-random numbers, is now halted after some time to <b>reduce the CPU load</b>.
		</li>

		<li>
			There is now an <b>option to disable the inclusion of the package source</b> on the m23 server in the package sources lists of the m23 clients.
		</li>

		<li>
			An existing EFI boot partition is no longer removed by m23, allowing to have <b>multiple parallel operating systems installed</b> on m23 clients. A distribution that is automatically installed by m23 will now recognize other operating systems automatically and include them into the grub boot menu.
		</li>

		<li>
			<b>The <b>X2Go server</b> can now also be installed and configured on m23 clients with Ubuntu 18.04 and 20.04.
		</li>

		<li>
			<b>phpMyAdmin</b> was updated to version 4.9.5.
		</li>
	</ul>
</p>


<h3 style="display: inline;">Bug fixes and refactoring</h3>
<p>
	<ul>
		<li>
			The <b>back function</b> in the <b>partitioning and formating dialog</b> now works as expected.
		</li>

		<li>
			Upon <b>saving and loading presets</b>n now all values are included. Previously, e.g. the package collections had been missing.
		</li>

		<li>
			Aside from the actual fixes to the source code, some <b>refactoring to increase the code quality</b> has been done. Many variables and arrays are now <b>initialized with default values</b>, and array elements are checked for existence before accessing them. Typing errors were fixed, deprecated PHP functions removed and some deduplication was done.
		</li>
	</ul>
</p>


<h3 style="display: inline;">m23 app for Univention Corporate Server</h3>
<p>
	The m23 app for <a href="https://en.wikipedia.org/wiki/Univention_Corporate_Server">UCS 4.4</a> will also be released shortly (if not already released at the time of publication of this article). Support for UCS 4.3 has been dropped from this m23 version.
</p>


<h3 style="display: inline;">Downloads / Update</h3>
<p>
	The latest release is available as an update from the m23 interface, via apt (configuration as described in the <a href="?id=1000000175#deb">Installation Guide</a>), as an app for UCS, as ISO file for the creation of an m23 server installation medium, as a preinstalled virtual machine and as an image file for RaspberryPi (the latter three can be found in the <a href="index.php?currentpath=home/Downloads">Download section</a>).
</p>

<!-- bis 2020-06-08 -->
