m23 18.2 brings support for Ubuntu 18.04 LTS on clients
<figure class="articleimg left" >
	<img src="gfx/Ubuntu1804-budgie-gnome-kde-lxde-mate-ubuntu-xfce.png" alt="Desktop environments available for Ubuntu 18.04" />
	<figcaption>Desktop environments<br>
	available for Ubuntu 18.04</figcaption>
</figure>
<p>
	<i>
		With <b><a href="https://en.wikipedia.org/wiki/Ubuntu_(operating_system)">Ubuntu 18.04 LTS "Bionic Beaver"</a></b>, we are proud to add one more distribution to the list of distributions that can be installed with m23. We also include a set of pre-configured <b>desktop environments</b>. Users of the Univention Corporate Server can now get the <b>m23-App</b> for UCS 4.3 from the <b><a href="https://www.univention.de/produkte/univention-app-center/app-katalog/">Univention App Center</a></b>. And of course, several minor improvements have been made to make m23 even easier to use.
	</i>
</p>

<b><u>Ubuntu 18.04</u></b><br>
<p>
	From this version on, m23 offers support for <b>Ubuntu 18.04 LTS</b> as a distribution for the clients, with <b>all the features that you're used to</b> from the other distributions. This includes an incredible number of 7 pre-configured <b>desktop environments</b>: <a href="https://en.wikipedia.org/wiki/MATE_(software)">Mate</a>, <a href="https://en.wikipedia.org/wiki/GNOME">Gnome 3</a>, <a href="https://en.wikipedia.org/wiki/LXDE">LXDE</a>, <a href="https://en.wikipedia.org/wiki/Budgie_(desktop_environment)">Budgie</a>, <a href="https://en.wikipedia.org/wiki/KDE">KDE</a>, <a href="https://en.wikipedia.org/wiki/Xfce">Xfce</a> as well as the Gnome-based Ubuntu standard desktop. The desktop configuration changes made by m23 to the Ubuntu standard desktop are limited to the removal of the <b>shopping icon</b> and the deactivation of the <b>first start dialog</b> of Gnome. m23 allows to install the 64- and 32-bit variants, no matter which desktop environment is selected.
</p>

<b><u>Virtualization</u></b><br>
<p>
	The <a href="https://en.wikipedia.org/wiki/VirtualBox">VirtualBox</a>-based integrated virtualization has received multiple improvements and was slightly adapted.  Virtual machines (VMs) that have been created with m23 can now also run on a <b>Ubuntu 18.04 host</b>. A new option for <b>the CPU architecture</b> is now available when creating a new VM from the m23 interface, which makes it possible to create both 64 and 32 bit systems. The m23 interface now always displays the <b>credentials</b> for accessing the <b> m23 VM console</b>, independently from the current state of the VM. A hint notifies you when the virtualization software has already been set up on an m23 client.
</p>


<b><u>m23 app for UCS 4.3</u></b><br>
<p>
	From this m23 version on, the m23 app is available for <a href="https://en.wikipedia.org/wiki/Univention_Corporate_Server">UCS 4.3</a>. Compared to m23 servers running natively on Debian (or <a href="https://en.wikipedia.org/wiki/Raspbian">Raspbian</a>), the  <b>feature set</b> of m23 on UCS is still <b>slightly restricted</b>, to avoid collisions with UCS-specific services. However, the possibility to save home directories of m23 clients on a central <b><a href="https://en.wikipedia.org/wiki/Network_File_System">NFS server</a></b> has now been <b>unlocked</b>.
</p>


<b><u>Changes to the interface</u></b><br>
<p>
	The m23 interface has been polished a bit to give m23 administrators clearer <b>hints about the current state</b> of the m23 system and to optimize working with m23 in other ways.<br>

	In the selection dialogs for client <b>groups</b> and for <b>package selections</b> that shall be installed, selectable elements now display <b>a checkbox</b> (with and without check mark).

	In the client overview, <i>"Repeat tasks"</i> is available as an <b>additional recovery option</b>, and also allows to re-install a whole number of clients at the same time.

	When creating a client, the <b>MAC address</b> can now also contain <b>colons</b>, to make copy-pasting from other software programs easier. The colons will be filtered out by JavaScript and when saving on the m23 server.

	In the <b>control center</b>, a new <b>icon for setting up</b> the client has been added.

	The dialog for package installation has been extended by a  <b>hint about updating the package index</b>, which will be displayed when the search gives no results. The search dialog displays <b>an info text</b>, when the search term contained <b>invalid characters</b>. Additionally, <b>waiting animations</b> are now displayed during search and kernel list updating.
</p>

<b><u>This and that</u></b><br>
<p>
	While formatting as <b>ext4</b>, the feature <i>"metadata_csum"</i> is now deactivated, as it led to the checking aborting with <b>older versions of fsck</b>.

	The m23 server now <b>regularly purges</b> cached <b>apt package lists</b>, that are used for searching for packages for the corresponding m23 client. This helps avoid running out of disk space on (small) disks, if a large number of clients is managed by m23.

	If a device with a <b>vastly diverging BIOS date</b> (e.g. because of an empty CMOS battery) is used as an m23 client, this could lead to <b>issues with the SSL certificate</b>. At the beginning of the installation, the m23 client now fetches the current time from the m23 server and adjusts its own time when there is a larger difference between the two times.

	m23 <b>deactivates</b> the <b>systemd apt-daily.timer</b>, which can collide with m23 installation jobs.

	The <b>base installation</b> was extended by the packages <i>"command-not-found"</i> and <i>"bash-completion"</i>, which make using the command line a little bit more comfortable.

	<b>Slow package searches</b>, especially with slow internet connection, will be sped up a lot from now on. Due to a bug, the <b>package index has been downloaded for each new search</b>. Now, once downloaded, the package index will be used until it's either outdated or is updated manually (as was intended).

	When updating the package index in the <b>package architect</b>, it wasn't always certain that really just the latest version of a Debian package would be kept. The new sorting functionality should now also take unusual package names into account and really <b>delete the older packages</b>.
</p>

<h3>Downloads / Update</h3>
<p>The latest version is available as an update from the m23 interface, via apt (Note: <b>Package source server</b> for m23-specific packages is now "<b>deb http://m23inst.goos-habermann.de ./</b>". Setup is described in the <a href="?id=1000000175#deb">installation guide</a>), as ISO file for creating an m23 server installation medium, as pre-installed virtual machine or as RaspberryPi image file (the latter three can be found in the <a href="index.php?currentpath=home/Downloads">Download section</a>).</p>

<!-- bis 2018-04-21 -->
