m23 19.2 with support for Debian 19 and a preview of Linux Mint 19.2
<p>
	<i>
		In quick succession to m23 19.1, which brought <b>a lot of changes</b> and which, consequently, took quite a long time to be developed, we now release m23 19.2 with many, yet fewer changes. m23 now supports the recently released <b><a href="https://en.wikipedia.org/wiki/Debian">Debian 10 Buster</a></b> for use as client platform, as well as as basis for the m23 server. The new Debian-10-based <b><a href="https://en.wikipedia.org/wiki/Raspbian">Raspbian</a></b> for the single-board computer <a href="https://en.wikipedia.org/wiki/Raspberry_Pi">Raspberry Pi</a> can now be used for the m23 server base, too. The (beta version of) <b><a href="https://en.wikipedia.org/wiki/Linux_Mint">Linux Mint</a> 19.2 Tina</b> has been added to the list of distributions that can be installed with m23. m23 clients with Debian 10 and Linux Mint 19.2 again come with all the known <b>preconfigured desktop environments</b>. There was also some time left for fixes and small improvements (e.g. to <a href="https://goos-habermann.de/howto-10030-m23-autoTest">m23-autoTest</a>), most of which were needed for making m23 compatible to Debian 10.
	</i>
</p>


<figure class="articleimg left" >
	<a href="gfx/debian10-gnome-alles.png" target="_blank">
		<img class="shadow" src="gfx/debian10-gnome-alles-mini.png" alt="Gnome on Debian 10"/>
		<figcaption><nobr>Gnome on Debian 10</nobr></figcaption>
	</a>
</figure>

<h3 style="display: inline;">Debian 10 Buster</h3>
<p>
	For m23 clients with Debian 10, the known wealth of installable <b>desktop environments</b> is again available: <a href="https://en.wikipedia.org/wiki/MATE_(software)">Mate</a> (optionally as minimal variant with only the absolutely required packages), <a href="https://en.wikipedia.org/wiki/Cinnamon_(Desktop_Environment)">Cinnamon</a>, <a href="https://en.wikipedia.org/wiki/GNOME">Gnome</a>, <a href="https://en.wikipedia.org/wiki/KDE">KDE</a>, <a href="https://en.wikipedia.org/wiki/LXDE">LXDE</a> and <a href="https://en.wikipedia.org/wiki/Xfce">Xfce</a>. Clients can be installed as 32- and 64-bit variants &ndash; independently of the desktop environment.
</p>

<p>
	Some adjustments to m23 were needed, to make it compatible with Debian 10:

	<ul>
		<li><b>phpLDAPAdmin</b> is now included in a <a href="https://github.com/breisig/phpLDAPadmin">special version</a> which also works with <b>PHP 7.3</b>.</li>
		<li>Free <b>IP addresses</b> are now suggested and checked correctly on <b>32-bit systems</b> again.</li>
		<li>The <b>SSL certificates</b> that protect the communication between the m23 server and its clients now contain the server's IP address in an <b>additional attribute</b> because <b>wget</b> will not <b>accept them</b> otherwise on Debian 10. Preexisting m23 server certificates will be updated automatically when the server is updated to version 19.2.</li>
		<li>A similar issue has been fixed for the <b>GPG signatures</b> of some package sources, which are now created in a slightly different way to be valid for the version of <b>apt</b> in Debian 10.</li>
		<li><b><a href="https://en.wikipedia.org/wiki/MariaDB">MariaDB</a></b> is now specifically configured, to reinstate the known behavior (since MySQL 3.23) on insertion of new lines into a table without indicating content for all fields.</li>
	</ul>
</p>


<figure class="articleimg left" >
	<a href="gfx/LinuxMint192-Cinnamon.png" target="_blank">
		<img class="shadow" src="gfx/LinuxMint192-Cinnamon-mini.png" alt="Cinnamon on Linux Mint 19.2"/>
		<figcaption><nobr>Cinnamon on Linux Mint 19.2</nobr></figcaption>
	</a>
</figure>

<h3 style="display: inline;">Linux Mint 19.2 Tina</h3>
<p>
	From this version on, m23 includes (preliminary) support for the beta stage <a href="https://en.wikipedia.org/wiki/Linux_Mint">Linux Mint</a> <b>19.2 Tina</b> for installation on clients, with the <b>full range of functions</b> that is available for other distros. It comes with three preconfigured  <b>desktop environments</b>: <a href="https://en.wikipedia.org/wiki/MATE_(software)">Mate</a>, <a href="https://en.wikipedia.org/wiki/Cinnamon_(Desktop_Environment)">Cinnamon</a> and <a href="https://en.wikipedia.org/wiki/Xfce">Xfce</a>. Clients can be installed in both 32- and 64-bit variants, independly from the selected desktop environment. As of July 19th, 2019, Linux Mint 19.2 seems to be installable with m23 without any problems whatsoever. In the case of <b>issues popping up later</b>, these will be corrected <b>in a future m23 update</b>.
</p>




<div style="display: inline;"></div>
<h3>m23-autoTest</h3>

<p>
	There were a couple changes made to <a href="https://goos-habermann.de/howto-10030-m23-autoTest">m23-autoTest</a>, the framework for automated tests for the m23 server and clients:
</p>

<ul>
	<li><b>Timeouts</b> are now <b>dealt with correctly</b> and lead to warnings instead of cancellation of the test.</li>
	<li>The new <b>crash detection</b> regularly checks for changes in the <b>display content</b> of a virtual machine. When there are no changes detected within a certain amount of time, the VM will be marked as "crashed" and the test will be aborted.</li>
	<li>The <b>m23-autoTest script generator</b> is now able to create test scripts specifically for <b>a single client distribution</b> where <b>all available desktop environments</b> will be tested.
	</li>
</ul>


<b><u>m23 app for Univention Corporate Server</u></b><br>
<p>
	The m23 app for <a href="https://en.wikipedia.org/wiki/Univention_Corporate_Server">UCS 4.3 and 4.4</A> will soon (if not already) be published.
</p>


<h3>Update</h3>
<p>
	The latest version is <b>only available as an update</b> via the m23 interface or via apt. For installing a fresh m23 server, please use the server installation packages or your preferred installation media for the previous version. A new ISO file for creating an m23 server installation medium, a preinstalled virtual machine and an image file for RaspberryPi will be available again for the next m23 version.
</p>

<!-- bis 2019-07-18 -->
