m23 19.1 mit Client-Unterstützung für Linux Mint 19 und 19.1
<figure class="articleimg left" >
        <img src="gfx/LM-19.1-3-Cinnamon-Mate-Xfce.png" alt="Desktopumgebungen<br>
        von Linux Mint 19 und 19.1"/>
        <figcaption><nobr>Desktopumgebungen</nobr><br>
        von Linux Mint 19.x</figcaption>
</figure>

<p><i>Mit <b><a href="https://de.wikipedia.org/wiki/Linux_Mint">Linux Mint</a> 19 und 19.1</b> stoßen gleich zwei weitere Distributionen zur Liste der mit m23 installierbaren Distributionen hinzu. Mit dabei sind jeweils drei vorkonfigurierte <b>Desktopumgebungen</b>. Neben diesen direkt sichtbaren Neuerungen wurde viel Zeit auf das <b>m23-autoTest-Framework</b> zum automatischen Testen von m23 und der so gefundenen Fehler verwendet. Weitere Baustellen waren die Überarbeitung des MDKs (m23 Development Kits) und <b>sehr viele</b> kleinere Verbesserungen. Die Fülle der Neuerungen hätte sogar für zwei oder drei m23-Versionen gereicht.</i></p>


<h3 style="display: inline;">LinuxMint 19 und 19.1</h3>

<p>Ab dieser Version unterstützt m23 auch <a href="https://de.wikipedia.org/wiki/Linux_Mint">Linux Mint</a> in den Versionen <b>19 Tara</b> und <b>19.1 Tessa</b> als zusätzliche Clientdistributionen inklusive dem von anderen Distributionen <b>bekannten Funktionsumfang</b>. Mit dabei sind drei vorkonfigurierte <b>Desktopumgebungen</b>: <a href="https://de.wikipedia.org/wiki/MATE_Desktop_Environment">Mate</a>, <a href="https://de.wikipedia.org/wiki/Cinnamon_(Desktop-Umgebung)">Cinnamon</a> und <a href="https://de.wikipedia.org/wiki/Xfce">Xfce</a>. Mit m23 können die Clients als 64- und 32-Bit-Variante &ndash; unabhängig vom Desktop &ndash; installiert werden.</p>


<h3 style="display: inline;">m23-autoTest</h3>

<p>Diese m23-Version ist die wahrscheinlich mit Abstand am besten getestete Version in der Geschichte von m23 überhaupt. Möglich machte dies das neue <b>m23-autoTest-Framework</b> zum <b>automatisierten Testen</b> von m23. Mit diesem konnten erstmals &ndash; in zahllosen Testdurchläufen &ndash; Kombinationen von m23-Servern auf verschiedenen Plattformen (Debian 9 (32- und 64-Bit), UCS 4.3, UCS 4.4, m23-Installations-ISO) mit m23-Clients aller unterstützten Clientdistributionen systematisch untersucht werden. So konnten auch Fehler gefunden werden, die nur sehr sporadisch auftreten.</p>

<p>m23-autoTest simuliert hierbei das Verhalten eines menschlichen Administrators durch <b>Fernsteuerung</b> (<a href="https://de.wikipedia.org/wiki/Selenium">Selenium</a>) der m23-Weboberfläche. So geschieht z.B. das Anlegen von m23-Clients, das Partitionieren und Formatieren oder das Installieren von Distributionen mit grafischen Oberflächen über das automatische Ausfüllen der Formulare in den dazugehörigen Dialogen.</p>

<p>Ein <b>Testdurchlauf</b> beinhaltet die Installation <b>eines m23-Servers</b> und (aktuell) <b>18</b> durch diesen installierten <b>m23-Clients</b>. Pro Distribution werden zwei Clients als 32- und 64-Bit-Variante mit zufällig ausgewählten Desktops und abwechselnd mit deutschen, englischen und französischen Spracheinstellungen installiert.</p>

<p>Alle Test werden &ndash; für eine schnelle Durchführung und Wiederholbarkeit &ndash; in virtuellen Maschinen vorgenommen. Über diverse <b>Meßpunkte</b> (z.B. Meldungen auf dem Bildschirm der VM, die durch Texterkennung identifiziert werden, Nachrichten in der m23-Oberfläche oder Rückgabewerte von in der VM ausgeführten Kommandos) wird laufend der <b>Installationstatus überprüft und bewertet</b>. Diese Informationen ermöglichen es m23-autoTest, auf Ereignisse z.B. mit simulierten Tastendrücken oder Aktionen in der m23-Weboberfläche zu reagieren. Im Falle von kritischen Fehlern (z.B. nichtlaufende Serverdienste) kann m23-autoTest den Testlauf auch ganz abbrechen. Für die <b>anschließende Analyse</b> wird der Bildschirm der VM in einer <b>Videodatei</b> aufgezeichnet, sowie ein <b>Installationsprotokoll</b> geschrieben, welches im Debug-Modus viele zusätzliche Informationen enthält.</p>

<p>Auch wenn der Funktionsumfang auf die Belange von m23 ausgerichtet ist, könnte m23-autoTest dennoch <b>für andere Projekte</b> nützlich sein. Weitere Informationen (zur Installation und Konfiguration der m23-autoTest-Umgebung, zum Schreiben von eigenen XML-Testbeschreibungsdateien, einen <b>Videomitschnitt</b> einer automatisierten Testinstallation, etc.) findet Ihr auf <a href="https://goos-habermann.de/howto-10030-m23-autoTest">goos-habermann.de</a>.</p>


<h3>MDK (m23 Development Kit)</h3>

Das MDK wurde an vielen Stellen &ndash; insbesondere im Bereich der Erstellung von Bootmedien und deren Komponenten &ndash; deutlich verbessert:
<ul>
    <li>Das <b>Kompilieren</b> des Linux-Kernels und BusyBox als <b>64-Bit-Version</b> funktioniert nun auch wieder auf einem <b>32-bittigen m23-Server</b> und umgekehrt.</li>

    <li>Die eingebaute <b>Dokumentation</b> wurde aktualisiert und ergänzt.</li>

    <li>Beim Erstellen der Bootmedien für m23-Clients oder -Server sollten nun alle <b>benötigten Bibliotheken gefunden</b> und <b>eingebunden</b> werden.</li>

    <li>Die Software der <b>Bootmedien</b> wird nun aus <b>Debian 8 und 9</b> zusammengestellt. Paketquellen und Pakete, die sich auf ältere Debian-Versionen bezogen, wurden entfernt.</li>

    <li><b>Zusätzliche Meldungen</b> sorgen nun für das leichtere <b>Entdecken von Fehlern</b>.</li>
</ul>


<h3>Korrekturen</h3>

<ul>
    <li>Die Uhrzeit wird nun zwischen m23-Client und m23-Server &ndash; vor dem Aufbau von SSL-Verbindungen &ndash; abgeglichen. Desweiteren beginnt die Gültigkeit von neuen SSL-Zertifikaten am 1.1.2019. Dies soll <b>Probleme</b> mit <b>SSL-Zertifikaten</b> vermeiden, die  z.B. bei abweichenden Zeitzonen auftreten könnten.</li>

    <li>Beim Herunterladen des minimalen Distributionsarchives vom m23-Server auf den m23-Client lieferte der m23-Server bei Tests mit m23-autoTest &ndash; in sehr seltenen Fällen &ndash; statt des gewünschten Archivs die dazugehörige Signaturdatei aus. Eine neue Routine sorgt nun für die <b>clientseitige Überprüfung</b> des Archiv und ggf. für eine Wiederholung des Downloads bis ein <b>gültiges Archiv empfangen</b> wurde.</li>

    <li>Zum Aufbau einer HTTPS-Verbindung werden mehr Zufallswerte benötigt, als beim Start vorhanden sind. Dies führte dazu, daß <b>mehrere Minuten vergehen</b> konnten, bis die Verbindung zustande kam. Durch Verwendung von <a href="https://en.wikipedia.org/wiki/Entropy_(computing)#Linux_kernel">haveged</a> wird der Vorrat an vorhandenen Zufallswerten schneller aufgefüllt, was zu einem deutlich <b>beschleunigten Start</b> der Installation führt.</li>
          
    <li>Der Prozentwert des <b>Statusbalkens</b> für den Fortschritt der Clientinstallation wird nun korrekt berechnet und angezeigt.</li>

    <li>Der <i>"Client ändern"</i>-Dialog funktioniert nun auch <b>mehrfach hintereinander</b> mit verschiedenen Clients.</li>
</ul>


<h3>Kleinigkeiten</h3>

<ul>
    <li>Der <i>"Client-Echtzeit-Status"</i> kann nun auch sehr <b>große Protokolldateien</b> anzeigen.</li>

    <li>Um Probleme mit dem <b>Abholen von Aufträgen</b> vom m23-Server zu umgehen, die durch das verspätete Starten des Netzwerkes durch systemd entstehen können, wird der m23-Server nun solange angepingt, bis dieser antwortet und erst dann der Auftrag angefragt.</li>

    <li>Der <b>Linux-Kernel</b> der Bootmedien wurde auf Version 4.9.170 aktualisiert.</li>

    <li><b>Skripte</b>, die anderen Benutzern <b>zur Verfügung gestellt</b> werden, werden nun per <b>HTTPS</b> übertragen.</li>

    <li>Die <b>Hardwaredatenbank</b> wird nun mit aktualisiertem <a href="https://github.com/openSUSE/hwinfo/raw/master/src/ids/convert_hd">convert_hd</a> erstellt.</li>

    <li>Mehrfach <b>vorkommender Code</b> zum Abfragen von Serverinformationen (wie IP, Netzwerkmaske, Apache-Benutzer, etc.) wurde in BASH-Skripte verschoben, die an den ursprünglichen Stellen aufgerufen werden.</li>

    <li>Ein <b>neues automatisches Partitionsschema</b>, das in den ersten 500GB einer Festplatte Partitionen für System, Swap und Daten anlegt, wurde hinzugefügt.</li>

    <li>Das <b>Sicherungsskript</b> <i>m23Backup</i> speichert nun die IP des gesicherten m23-Servers.</li>

    <li>Das Wiederherstellungsskript <i>m23Restore</i> tauscht, wenn m23 auf UCS installiert wurde, beim <b>Wiederherstellen</b> der Datenbank alle Vorkommen der gesicherten <b>m23-Server-IP</b> durch die aktuelle IP aus.</li>

    <li>Sollte der m23-Client nach dem Starten von einem Bootmedium keinen gültigen Auftrag vom m23-Server zugewiesen bekommen, so fragt der Client nun nach <b>Netzwerkeinstellungen</b>.</li>

    <li>Die <b>Client-Kerberos-Konfiguration</b> wurde so angepaßt, daß diese auch mit <b>UCS 4.3/4</b> funktioniert.</li>

    <li>Am <b>Quelltext</b> wurden viele <b>Verbesserungen</b> vorgenommen, die für weniger Warnungen in den Protokolldateien sorgen.</li>
    
    <li><b>Fehlermeldungen und Warnungen</b> (z.B. beim Start von Serverdiensten oder dem erneuten Anlegen von Tabellen), die beim Installieren der m23-Pakete auftreten, werden nun in die Datei /m23/log/m23PostinstNonCriticalErrorMessages.log <b>umgeleitet</b>. Diese Meldungen sind aus Sicht von m23 nicht kritisch oder ein Zeichen für eine vorherige erfolgreiche Konfiguration, sorgen aber hin und wieder für Verwirrung.</li>
    
    <li>Die m23-Weboberfläche und die Nachrichten auf den Bildschirmen der m23-Clients erfuhren an einigen Stellen leichte Verbesserungen wie den <b>korrekte Status</b> von zu installierenden Paketen oder <b>farblich hervorgehobene Nachrichten</b> beim Booten von m23-Clients.</li>

    <li>Der <b>Squid-Proxy verzögert</b> das <b>Herunterfahren</b> des m23-Servers nun nur noch maximal 5 Sekunden.</li>

    <li>Dialoge zum <b>Konfigurieren von Ubuntu-18.04-Paketen</b>, die debconf-Dialoge enthalten, wurden zur m23-Oberfläche hinzugefügt.</li>

    <li>Mit m23 können die <b>ausgelaufenen Distributionen</b> Linux Mint 17.1 Rebecca, Linux Mint 17.2 Rafaela, Linux Mint 17.3 Rosa, devuanjessie, trusty, HS-Fedora14, HS-opensuse11.4, HS-centos62, Ubuntu 12.04 Precise und Debian 7 Wheezy nun nicht mehr installiert werden. Beim Entfernen dieser Distributionen aus m23 wurden auch die dazugehörigen debconf-Konfigurationsdialoge gelöscht.</li>

    <li>Ebenfalls <b>entfernt</b> wurde das <b>Pluginsystem</b> für Erweiterungen der m23-Oberfläche, das aus den Anfangstagen von m23 stammt und &ndash; soweit bekannt &ndash; nicht verwendet wurde. Einen Ersatz gibt es seit m23 16.3 mit <i>m23customPatch</i>.</li>
    
    <li>Die automatische <b>Erkennung passender Grafikeinstellungen</b> sollte nun unter allen Distributionen deutlich präziser arbeiten.</li>

    <li>Der <b>m23 Fern-Administrations-Service</b> wurde aus der Menüleiste der m23-Oberfläche <b>entfernt</b>.</li>

    <li>Ein neuer <b>Fragebogen</b> zum Eintragen Eurer <b>m23-Referenzen</b> wurde erstellt. Ein Link zu diesem wird in der Kopfzeile der deutschen m23-Weboberfläche angezeigt.</li>

    <li>Beim Installieren des m23-Servers vom m23-Installations-ISO wird nicht mehr versucht, die <b>Virtualisierungsumgebung</b> mitzuinstallieren. Bei Bedarf kann das dafür zuständige Paket <i>m23-vbox</i> <b>per Hand nachinstalliert</b> werden.</li>
</ul>


<h3>m23-Clients und Abbilddateien</h3>

Die Möglichkeiten zum <b>Erstellen</b> von Abbilddateien und dem <b>Installieren</b> von m23-Clients aus diesen wurde stark überarbeitet. Hierbei wurden auch Funktionen entfernt, die zu keinem brauchbaren Clientzustand führten.

<ul>
    <li>Statt eines gesicherten <b>Quell-MBRs</b> wird nun immer <b><a href="https://de.wikipedia.org/wiki/Grand_Unified_Bootloader">grub</a></b> verwendet.</li>
    <li>Es stehen nur noch <b>Partitionen</b> (und keine ganzen Festplatten) als <b>Abbildquelle</b> und <b>-ziel</b> zur Verfügung, da das Installieren von Festplattenabbildern häufig zu Fehlern führte.</li>
    <li>Beim Wiederherstellen eines Partitionsabbildes wird das <b>Dateisystem</b> (sofern die Zielpartition größer als Originalpartition ist) automatisch <b>vergrößert</b>. Ext-Dateisysteme werden nun im eingehängten Zustand vergrößert.</li>
    <li><i>partcloneWrapper</i> erkennt die Dateisysteme nun wieder und wählt beim Erstellen automatisch das passende und <b>platzsparendste Abbilddateiformat</b>.</li>
    <li>Zum Komprimieren von Abbilddateien steht eine <a href="https://de.wikipedia.org/wiki/Gzip">gzip</a>-Variante bereit, die <b>weniger platzeffizient</b>, dafür aber <b>schneller arbeitet</b>.</li>
    <li><b>m23-Clients</b>, die aus Abbildern installiert werden, werden nur noch <b>leicht durch m23 angepaßt</b>, anstatt wie vorher die komplette Konfiguration von Debian oder Ubuntu zu durchlaufen. Hierbei wird die Distributionsgrundlage (auch unter Linux Mint) erkannt und die passenden Routinen aufgerufen. Eine Auswahl der Distribution in der m23-Oberfläche entfällt.</li>
    <li>Die <b>Paketquellenlisten</b> (auch /etc/apt/sources.list.d/*.list) des m23-Clients werden nun <b>an den m23-Server übertragen</b> und mit vorhandenen Listen abgeglichen. Somit können nun auch <b>Paketinstallationen über die m23-Oberfläche</b> vorgenommen werden.</li>
    <li>Nun wird eine <b>Warnung</b> beim Auswählen der <b>"Imaging"-Pseudodistribution</b> angezeigt, da die Verwendung von Abbildern die technisch anspruchsvollste Variante ist, um einen m23-Client zu installieren. Ob diese im Einzelfall zu einem funktionierenden m23-Client führen wird, ist vorher ungewiß.</li>
</ul>


<h3>Downloads / Update</h3>

<p>Die neue Version ist als Update über die m23-Oberfläche, via APT (Achtung: <b>Paketquellenserver</b> für m23-spezifische Pakete ist jetzt "<b>deb http://m23inst.goos-habermann.de ./</b>". Einrichtung wie im <a href="?id=1000000175#deb">Installationsleitfaden</a> beschrieben), als ISO zum Erstellen eines m23-Server-Installationsmediums, als vorinstallierte virtuelle Maschine oder als RaspberryPi-Image-Datei (die drei letzteren in der <a href="index.php?currentpath=home/Downloads">Downloadsektion</a> zu finden) verfügbar.</p>

<!-- bis 2019-05-22 -->
